<div class="container-fluid">
    <h1>Bootcamp Enrollment form</h1>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="tel" class="form-control">
        </div>
        <div class="form-group">
            <select class="custom-select">
                <option selected>I am interested in</option>
                <option *ngFor="let topic of topics">{{topic}} </option>
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="timePreference" value="morning">
                <label class="form-check-label">Morning (9AM - 12AM)</label> </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="timePreference" value="evening">
                <label class="form-check-label">Evening (5PM - 8PM)</label> </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                Send me promotion offers
            </label>
        </div>
    </form>
</div>